<%= form_with model: @tlk do |f| %>
  <div class="tlk-image tlk-image-edit"
  <% if @tlk.image.present? %>
    style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= rails_blob_url(@tlk.image) %>);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;"
  <% end %>
  >
    <%= f.label :title, "Edit title:" %><br />
    <%= f.text_field :title, class: 'tlk-title-edit', target: 'update-tlk' %><br>
  </div>

  <div class="tlk-container">
    <label>
      <span class="btn btn-dark">Upload Taaalk Background Image</span>
      <div id="update-tlk-file-name-div" class="text-success mt-2"></div>
      <span style="display:none;">
        <%= f.file_field :image, accept: 'image/png,image/jpeg', target: 'update-tlk' %>
      </span>
    </label>
    <div>
      <%= f.submit "Update Taaalk", class: 'btn btn-secondary tlk-btn-unsaved', id: 'update-tlk' %>
    </div>
  </div>
<% end %>
  <div class="tlk-container">
    <p id="p-update-tlk" class="tlk-p-nochange">Changes not saved. Press 'Update Taaalk' to save.</p>
  </div>
