<div class="tlk-container">

  <p class="p-header-followed-by-tlk-note"><strong>Other people's details:</strong></p>
  <% if @tlk.spkrs.length == 1 %>
    <div>
      <div class="tlk-note">
        <p>The details of people you invite to Taaalk with will appear here.</p>
        <p>To invite people to speak with you in this Taaalk:</p>
        <p>
          <div class="to-copy-section">
            <span id="invite-link-2"><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></span> <span target="invite-link-2" class="copy-with-click"><i class="fas fa-copy"></i></span>
          </div>
        </p>
        <p>You will be able to suggest edits to their name and bio.</p>
      </div>
    </div>
  <% else %>
    <div class="tlk-note">
      <p>You can suggest updates to the profiles of other members of your Taaalk (so your readers get a good idea of who they are).</p>
    </div>
  <% end %>
  <% @tlk.spkrs.each do |spkr| %>
    <% unless spkr.user == current_user %>
      <div>
      <%= link_to raw("<strong>#{spkr.name}</strong>"), show_user_path(spkr.user), class: "spkr-edit-other-heading-link" %>
      </div>

      <%= form_with model: spkr do |f| %>

        <div class="spkr-user-edit-form">

          <div>
            <label for="name">Edit name:</label>
          </div>
          <div>
          <%= f.text_field :name, id: "name-spkr-#{spkr.id}", class: 'spkr-edit', target: "spkr-#{spkr.id}" %>
          </div>

          <label>
            <div class="spkr-image-upload-div">
              <div class="spkr-bio-image spkr-image image-spkr-<%= spkr.id %>"
                <% if spkr.image.present? %>
                  style="background-image: url(<%= rails_blob_url(spkr.image) %>)"
                <% elsif spkr.user.image.present? %>
                  style="background-image: url(<%= rails_blob_url(spkr.user.image) %>)"
                <% else %>
                  style="background-image: url(<%= asset_url('user.svg') %>)"
                <% end %>
                >
              </div>
              <div class="spkr-image-upload-btn-and-text">
                <span class="btn btn-dark">Upload a Profile Photo</span>
                <div id="spkr-<%= spkr.id %>-file-name-div" class="text-success mt-2"></div>
                <span style="display:none;">
                  <%= f.file_field :image, accept: 'image/png,image/jpeg', target: "spkr-#{spkr.id}" %>
                </span>
              </div>
            </div>
          </label>

          <div class="spkr-color-edit">
            <div><label for="color">Edit your speech bubble style:</label></div>


            <div class="spkr-color-scroll" target="spkr-<%= spkr.id %>">

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-red" type="radio" name="color" value="msg-red" <%= spkr.color == 'red' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-red">
                  <div class="spkr-color-example msg-red"><div class="tlk-bubble">Strawberry</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-red" type="radio" name="color" value="msg-p-red" <%= spkr.color == 'p-red' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-p-red">
                  <div class="spkr-color-example msg-p-red"><div class="tlk-bubble">Cherry</div></div>
                </label>
              </div>


              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-orange" type="radio" name="color" value="msg-orange" <%= spkr.color == 'orange' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-orange">
                  <div class="spkr-color-example msg-orange"><div class="tlk-bubble">Orange</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-orange" type="radio" name="color" value="msg-p-orange" <%= spkr.color == 'p-orange' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-p-orange">
                  <div class="spkr-color-example msg-p-orange"><div class="tlk-bubble">Grapefruit</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-yellow" type="radio" name="color" value="msg-yellow" <%= spkr.color == 'yellow' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-yellow">
                  <div class="spkr-color-example msg-yellow"><div class="tlk-bubble">Lemon</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-green" type="radio" name="color" value="msg-green" <%= spkr.color == 'green' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-green">
                  <div class="spkr-color-example msg-green"><div class="tlk-bubble">Apple</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-green" type="radio" name="color" value="msg-p-green" <%= spkr.color == 'p-green' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-p-green">
                  <div class="spkr-color-example msg-p-green"><div class="tlk-bubble">Mint</div></div>
                </label>
              </div>


              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-blue" type="radio" name="color" value="msg-blue" <%= spkr.color == 'blue' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-blue">
                  <div class="spkr-color-example msg-blue"><div class="tlk-bubble">Blueberry</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-blue" type="radio" name="color" value="msg-p-blue" <%= spkr.color == 'p-blue' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-p-blue">
                  <div class="spkr-color-example msg-p-blue"><div class="tlk-bubble">Water</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-purple" type="radio" name="color" value="msg-purple" <%= spkr.color == 'purple' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-purple">
                  <div class="spkr-color-example msg-purple"><div class="tlk-bubble">Aubergine</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-pink" type="radio" name="color" value="msg-pink" <%= spkr.color == 'pink' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-pink">
                  <div class="spkr-color-example msg-pink"><div class="tlk-bubble">Candy</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-white" type="radio" name="color" value="msg-white" <%= spkr.color == 'white' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-white">
                  <div class="spkr-color-example msg-white"><div class="tlk-bubble">White</div></div>
                </label>
              </div>

              <div class="spkr-color-option">
                <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-black" type="radio" name="color" value="msg-black" <%= spkr.color == 'black' ? 'checked' : '' %> >
                <label for="spkr-<%= spkr.id %>-color-option-black">
                  <div class="spkr-color-example msg-black"><div class="tlk-bubble">Black</div></div>
                </label>
              </div>

            </div>

          </div>

          <div>
            <label for="name">Edit bio:</label>
          </div>
          <%= f.rich_text_area :biog, id: "biog-spkr-#{spkr.id}", target: "spkr-#{spkr.id}" %>
          <%= f.submit spkr.name.present? ? "Suggest Update (#{spkr.name})" : "Update Details", id: "spkr-#{spkr.id}", class: 'btn-spkr-edit btn btn-secondary other-spkr-edit-btn' %>

        <% end %>

        <p id="p-spkr-<%= spkr.id %>" class="tlk-p-nochange">
          <% if spkr.name.present? %>
            Suggesting an update will send an email to <%= spkr.name %> to confirm changes.
          <% else %>
            Suggesting an update will send an email to this participant to confirm changes.
          <% end %>
        </p>

      </div>

    <% end %>
  <% end %>

</div>
