
<div class="full-width-dark-split"></div>

<%= render 'components/tlk_links' %>

<%= render 'components/edit_tlk_details' %>

<div class="tlk-container">
  <div class="big-white-split"></div>
</div>

<%= render 'components/edit_self_spkr' %>

<div class="tlk-container">
  <div class="big-white-split"></div>
</div>

<%= render 'components/edit_other_spkrs' %>

<%= render 'components/delete_tlk' %>

<div class="tlk-bottom-edit-btn tlk-container tlk-user-page">
  <button id="tlk-toggle-edit" class="tlk-toggle-edit edit-mode-on btn btn-dark">Exit Edit Mode</button>
  <div class="big-dark-split"></div>
</div>



<%#= render 'components/no_msgs_note' %>
