<div class="tlk-container">

  <p class="p-header-followed-by-tlk-note"><strong>Other people's details:</strong></p>

  <% if @tlk.non_tlk_user_spkrs.length == 0 %>
    <div>
      <div class="tlk-note">
        <p>The details of people you invite to Taaalk with will appear here.</p>
        <p>To invite people to speak with you in this Taaalk:</p>
        <p>
          <div class="to-copy-section">
            <span id="invite-link-2"><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></span> <span target="invite-link-2" class="copy-with-click"><i class="fas fa-copy"></i></span>
          </div>
        </p>
        <p>You will be able to suggest edits to their profile.</p>
      </div>
    </div>
  <% else %>
    <div class="mb-0 tlk-note">
      <p>You can suggest updates to the profiles of other members of your Taaalk. (Make sure your readers get a good idea of who you're talking to and make your Taaalk look the way you want.)</p>
    </div>
  <% end %>

</div>

<div class="tlk-container">

  <% @tlk.all_spkrs.each do |spkr| %>
    <% unless spkr.user == current_user %>



      <div>
        <strong>
          <%= link_to spkr.name, show_user_path(spkr.user), class: "spkr-edit-other-heading-link" %>:
        </strong>
      </div>

      <% if spkr.hide == false %>

        <div class="edit-msg-<%= spkr.color %>">

          <%= form_with model: spkr, :html => {:class => 'spkr-edit-box'} do |f| %>

            <div class="spkr-user-edit-form">

              <div>
                <label for="name" class="mb-4px">Edit name:</label>
              </div>

              <div>
              <%= f.text_field :name, id: "name-spkr-#{spkr.id}", class: 'spkr-edit fw-text-input', target: "spkr-#{spkr.id}" %>
              </div>

              <label>
                <div class="spkr-image-upload-div">
                  <div class="spkr-bio-image spkr-image image-spkr-<%= spkr.id %>"
                    <% if spkr.image.present? %>
                      style="background-image: url(<%= url_for(spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
                    <% elsif spkr.user.image.present? %>
                      style="background-image: url(<%= url_for(spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
                    <% else %>
                      style="background-image: url(<%= asset_url('user.svg') %>)"
                    <% end %>
                    >
                  </div>
                  <div class="spkr-image-upload-btn-and-text">
                    <span class="btn btn-dark">Select Profile Image</span>
                    <div id="spkr-<%= spkr.id %>-file-name-div" class="text-success mt-2"></div>
                    <span style="display:none;">
                      <%= f.file_field :image, accept: 'image/png,image/jpeg', target: "spkr-#{spkr.id}" %>
                    </span>
                  </div>
                </div>
              </label>

              <div>
                <p class="mb-4px">Edit Twitter handle:</p>
                <p class="info-p mb-4px">E.g. for "<a href="https://twitter.com/gotaaalk">twitter.com/gotaaalk</a>", the Twitter handle would just be "gotaaalk"</p>
                <p class="info-p mb-4px"><strong>Do not include</strong> the "twitter.com/" section of your Twitter profile url or the "@" of your handle.</p>
                <%= f.text_field :twitter_handle, class: "fw-text-input", target: "spkr-#{spkr.id}" %>
              </div>

              <div>
                <label for="name" class="mb-4px">Edit bio:</label>
              </div>


              <%= f.rich_text_area :biog, id: "biog-spkr-#{spkr.id}", target: "spkr-#{spkr.id}" %>
              <div class="spkr-color-edit">
                <div><label for="color" class="mb-4px">Edit speech bubble style:</label></div>

                <div class="spkr-color-show-more link-txt" target="color-spkr-<%= spkr.id %>">See more colors...</div>

                <div class="spkr-color-scroll spkr-color-scroll-short" target="spkr-<%= spkr.id %>" id="color-spkr-<%= spkr.id %>">

                  <% 70.times do |i| %>
                    <div class="spkr-color-option">
                      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-<%= i + 1 %>" type="radio" name="color" value="<%= i + 1 %>" <%= spkr.color.to_i == i + 1 ? 'checked' : '' %> >
                      <label for="spkr-<%= spkr.id %>-color-option-<%= i + 1 %>">
                        <div class="spkr-color-example msg-<%= i + 1 %>"><div class="tlk-bubble"><%= i + 1 %></div></div>
                      </label>
                    </div>
                  <% end %>

                </div>

              </div>
              <div class="other-spkr-edit-btn-div">
                <%= f.submit spkr.name.present? ? "Suggest Update (#{spkr.name})" : "Update Details", id: "spkr-#{spkr.id}", class: 'btn-spkr-edit btn btn-secondary other-spkr-edit-btn tlk-btn-unsaved' %>
                <p id="p-spkr-<%= spkr.id %>" class="tlk-p-nochange">Suggesting an update will send an email asking <%= spkr.name %> to confirm changes.</p>
              </div>
              <div>
                <p id="leave-tlk" class="fake-link tlk-leave danger-link-txt" target="spkr-leave-<%= spkr.id %>">Remove from Taaalk</p>
              </div>
              <div id="spkr-leave-<%= spkr.id %>" class="tlk-section-off tlk-leave-links">
                <strong><%= link_to "Remove #{spkr.name} & delete all their messages.", url_for(action: :remove, controller: :spkrs, id: spkr.id), method: :delete, data: {confirm: "This will PERMANENTLY remove #{spkr.name} from this Taaalk & delete their messages."}, class: "danger-link-txt" %></strong><br>
                <strong><%= link_to "Remove #{spkr.name} & keep all their messages.", url_for(action: :hide_other_spkr, controller: :spkrs, id: spkr.id), class: "danger-link-txt", method: :get, data: {confirm: "Thise will permanently remove #{spkr.name} Taaalk, but keep your messages. Confirm below:"} %></strong>
              </div>

            <% end %>

          </div>

        <% else %>


          <div class="tlk-note">
            <p><%= spkr.name %> is no longer a participant in this Taaalk.</p>
            <p><%= link_to 'Delete all their messages', url_for(action: :remove, controller: :spkrs, id: spkr.id), method: :delete, data: {confirm: "This will PERMANENTLY delete all of #{spkr.name.possessive} messages."} %>.</p>




        <% end %>

      </div>


    <% end %>
  <% end %>
</div>
