<div class="spkr-color-edit">
  <div><label for="color">Edit your speech bubble style:</label></div>


  <div class="spkr-color-scroll" target="spkr-<%= spkr.id %>">

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-red" type="radio" name="color" value="red" <%= spkr.color == 'red' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-red">
        <div class="spkr-color-example msg-red"><div class="tlk-bubble">Strawberry</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-red" type="radio" name="color" value="p-red" <%= spkr.color == 'p-red' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-p-red">
        <div class="spkr-color-example msg-p-red"><div class="tlk-bubble">Cherry</div></div>
      </label>
    </div>


    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-orange" type="radio" name="color" value="orange" <%= spkr.color == 'orange' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-orange">
        <div class="spkr-color-example msg-orange"><div class="tlk-bubble">Orange</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-orange" type="radio" name="color" value="p-orange" <%= spkr.color == 'p-orange' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-p-orange">
        <div class="spkr-color-example msg-p-orange"><div class="tlk-bubble">Grapefruit</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-yellow" type="radio" name="color" value="yellow" <%= spkr.color == 'yellow' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-yellow">
        <div class="spkr-color-example msg-yellow"><div class="tlk-bubble">Lemon</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-green" type="radio" name="color" value="green" <%= spkr.color == 'green' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-green">
        <div class="spkr-color-example msg-green"><div class="tlk-bubble">Apple</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-green" type="radio" name="color" value="p-green" <%= spkr.color == 'p-green' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-p-green">
        <div class="spkr-color-example msg-p-green"><div class="tlk-bubble">Mint</div></div>
      </label>
    </div>


    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-blue" type="radio" name="color" value="blue" <%= spkr.color == 'blue' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-blue">
        <div class="spkr-color-example msg-blue"><div class="tlk-bubble">Blueberry</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-p-blue" type="radio" name="color" value="p-blue" <%= spkr.color == 'p-blue' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-p-blue">
        <div class="spkr-color-example msg-p-blue"><div class="tlk-bubble">Water</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-purple" type="radio" name="color" value="purple" <%= spkr.color == 'purple' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-purple">
        <div class="spkr-color-example msg-purple"><div class="tlk-bubble">Aubergine</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-pink" type="radio" name="color" value="pink" <%= spkr.color == 'pink' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-pink">
        <div class="spkr-color-example msg-pink"><div class="tlk-bubble">Candy</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-white" type="radio" name="color" value="white" <%= spkr.color == 'white' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-white">
        <div class="spkr-color-example msg-white"><div class="tlk-bubble">White</div></div>
      </label>
    </div>

    <div class="spkr-color-option">
      <input class="spkr-color-radio" id="spkr-<%= spkr.id %>-color-option-black" type="radio" name="color" value="black" <%= spkr.color == 'black' ? 'checked' : '' %> >
      <label for="spkr-<%= spkr.id %>-color-option-black">
        <div class="spkr-color-example msg-black"><div class="tlk-bubble">Black</div></div>
      </label>
    </div>

  </div>

</div>
