
<div class="tlk-image"
<% if @tlk.image.present? %>
  style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= url_for(@tlk.image.variant(combine_options: { resize_to_limit: [1600, nil], auto_orient: true, gravity: "center" })) %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;"
<% end %>
>
  <h1 class="tlk-title"><%= @tlk.title %></h1>

</div>


<div class="tlk-container">

  <% @tlk.non_hidden_spkrs.each do |spkr| %>
    <div class="spkr-color-<%= spkr.id %>">
      <div class="msg-<%= spkr.color %>">
        <div class="spkr-info spkr-info-<%= spkr.side %>">
          <div class="spkr-image-and-name">
            <div class="spkr-bio-image spkr-image image-spkr-<%= spkr.id %>"
              <% if spkr.image.present? %>
                style="background-image: url(<%= url_for(spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% elsif spkr.user.image.present? %>
                style="background-image: url(<%= url_for(spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% else %>
                style="background-image: url(<%= asset_url('user.svg') %>)"
              <% end %>
              >
            </div>
            <h3><%= link_to spkr.name, show_user_path(spkr.user), class: "name-spkr-#{ spkr.id }" %></h3>
          </div>
          <div class="spkr-biog-holder-tlk-<%= spkr.side %>">
            <div class="spkr-biog biog-spkr-<%= spkr.id %>"><%= spkr.biog %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
