<div class="full-width-dark-split full-width-spkr-only"></div>

<div class="tlk-image"
<% if @tlk.image.present? %>
  style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= url_for(@tlk.image.variant(combine_options: { resize_to_limit: [1600, nil], auto_orient: true, gravity: "center" })) %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;"
<% end %>
>
  <h1 class="tlk-title"><%= @tlk.title %></h1>
</div>

<%= render 'components/edit_self_spkr' %>

<div class="tlk-bottom-edit-btn tlk-container">
  <button id="tlk-toggle-edit" class="tlk-toggle-edit edit-mode-on btn btn-dark spkr-only-edit-btn">Exit Edit Mode</button>
  <div class="big-dark-split"></div>
</div>

<div class="tlk-container">

  <% @tlk.spkrs.each do |spkr| %>
    <% unless spkr.user == current_user || spkr.hide == true  %>
      <div class="msg-<%= spkr.color %>">
        <div class="spkr-info spkr-info-<%= spkr.side %>">
          <div class="spkr-image-and-name">
            <div class="spkr-bio-image spkr-image image-spkr-<%= spkr.id %>"
              <% if spkr.image.present? %>
                style="background-image: url(<%= url_for(spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% elsif spkr.user.image.present? %>
                style="background-image: url(<%= url_for(spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% else %>
                style="background-image: url(<%= asset_url('user.svg') %>)"
              <% end %>
              >
            </div>
            <h3 class="name-spkr-<%= spkr.id %>"><%= link_to spkr.name, show_user_path(spkr.user) %></h3>
          </div>
          <div class="spkr-biog biog-spkr-<%= spkr.id %>"><%= spkr.biog %></div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
