<h1 class="tlk-title"><%= @tlk.title %></h1>

<% @tlk.spkrs.each do |spkr| %>
  <% if spkr.user == @tlk.user %>
    <h3 class="name-spkr-<%= spkr.id %>"><%= spkr.name %></h3>
    <p class="bio-spkr-<%= spkr.id %>"><%= spkr.bio %></p>
  <% end %>
<% end %>

<%= render 'components/edit_self_spkr' %>

<% @tlk.spkrs.each do |spkr| %>
  <% unless spkr.user == @tlk.user || spkr.user == current_user %>
    <h3 class="name-spkr-<%= spkr.id %>"><%= spkr.name %></h3>
    <p class="bio-spkr-<%= spkr.id %>"><%= spkr.bio %></p>
  <% end %>
<% end %>
