<div class="index-container create-twm-user-container">

  <%= will_paginate @tlk_with_me_users, inner_window: 2, outer_window: 1 %>

  <div class="card-columns" id="create-card-columns">

    <% @tlk_with_me_users.each do |twm_user| %>
      <div class="tlk-card card tlk-card-block twm_user">
        <div class="spkr-details-container-index spkr-index-left">
          <div class="spkr-img-name-container-index">
            <div class="spkr-image-index"
              <% if twm_user.image.present? %>
                style="background-image: url(<%= url_for(twm_user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>); height: 32px; width: 32px;"
              <% else %>
                style="background-image: url(<%= asset_url('user.svg') %>)"
              <% end %>
              >
            </div>
            <p class="spkr-name-index"><strong><%= link_to twm_user.username, show_user_path(twm_user) %></strong></p>
          </div>
          <% if twm_user.tlk_with_me.present? %>
            <div class="spkr-biog-holder-index">
              <div class="spkr-biog-index create-user-padding-left"><%#= twm_user.tlk_with_me %>
                <%= truncate(strip_tags(twm_user.tlk_with_me.to_s).gsub(/&amp;/, '&'), length: 250, separator: ' ') %>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <%= link_to "#{strip_tags(twm_user.tlk_with_me.to_s).gsub(/&amp;/, '&').length > 250 ? "Read more & r" : "R"}equest to Taaalk with #{twm_user.username}", tlk_with_request_path(twm_user), class: "link-txt" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @tlk_with_me_users, inner_window: 2, outer_window: 1 %>


</div>




