<% if current_user == @tlk.user %>
  <% if flash[:edit] == true %>
    <span id="tlk-toggle-edit" class="edit-mode-on tlk-note-btn">Exit Edit Mode</span>
    <div id="tlk-section-edit" class="tlk-section-on">
      <%= render 'components/edit_mode' %>
    </div>
    <div id="tlk-section-read" class="tlk-section-off">
      <%= render 'components/read_mode' %>
    </div>
  <% else %>
    <div>
      <div class="tlk-note">
        <p>You are the owner of this Taaalk.
          <span id="tlk-toggle-edit" class="edit-mode-off tlk-note-btn">Edit Taaalk Details</span>
        </p>
      </div>
    </div>
    <div id="tlk-section-edit" class="tlk-section-off">
      <%= render 'components/edit_mode' %>
    </div>
    <div id="tlk-section-read" class="tlk-section-on">
      <%= render 'components/read_mode' %>
    </div>
  <% end %>
<% elsif @spkr_only %>
  <% if flash[:edit] == true %>
    <span id="tlk-toggle-edit" class="edit-mode-on tlk-note-btn">Exit Edit Mode</span>
    <div id="tlk-section-edit" class="tlk-section-on">
      <%= render 'components/spkr_only_mode' %>
    </div>
    <div id="tlk-section-read" class="tlk-section-off">
      <%= render 'components/read_mode' %>
    </div>
  <% else %>
    <div>
      <div class="tlk-note">
        <p>You are a member of this Taaalk.
          <span id="tlk-toggle-edit" class="edit-mode-off tlk-note-btn">Edit Taaalk Details</span>
        </p>
      </div>
    </div>
    <div id="tlk-section-edit" class="tlk-section-off">
      <%= render 'components/spkr_only_mode' %>
    </div>
    <div id="tlk-section-read" class="tlk-section-on">
      <%= render 'components/read_mode' %>
    </div>
  <% end %>
<% elsif flash[:invited] == true %>
  <div id="tlk-section-invite">
    <%= render 'components/invited_mode' %>
  </div>
  <div id="tlk-section-read" class="tlk-section-on">
    <%= render 'components/read_mode' %>
  </div>
<% else %>
  <div id="tlk-section-read">
    <%= render 'components/read_mode' %>
  </div>
<% end %>
