<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn log-out-btn" %>

<div class="full-width-dark-split full-width-spkr-only"></div>

<%= form_with model: @user do |f| %>

  <div class="bg-fade bdr-btm-drk-mob-none">
    <div class="create-index-container">
      <div class="user-container user-border-bottom">
        <div class="user-image"
          <% if @user.image.present? %>
            style="background-image: url(<%= rails_blob_url(@user.image) %>)"
          <% else %>
            style="background-image: url(<%= asset_url('user.svg') %>)"
          <% end %>
          >
        </div>
        <label>
          <span class="mt-2 btn learn-more-btn">Upload Profile Image</span>
          <div id="update-tlk-file-name-div" class="text-success mt-2"></div>
          <span style="display:none;">
            <%= f.file_field :image, accept: 'image/png,image/jpeg', target: 'update-tlk' %>
          </span>
        </label>
        <div>
          <%= f.label :title, "Edit your name:", class: "mt-2 f-white" %><br />
          <%= f.text_field :username, class: 'mb-3 username-edit' %>
        </div>
        <%= f.submit "Update Your Details", id: "spkr-#{@user.id}", class: 'btn-spkr-edit btn create-user-update-btn' %>
      </div>
    </div>
  </div>

  <div class="spkr-user-edit-form user-p-style">
    <div class="create-index-container">
      <div class="p-0 user-container">
        <div>
          <p>Your email:</p>
          <%= f.text_field :email, class: "fw-text-input" %>
        </div>
        <div>
          <p>Default Taaalk bio:</p>
          <%= f.rich_text_area :biog %>
        </div>
        <p>People should Taaalk with you about:</p>
        <%= f.rich_text_area :tlk_with_me %>
        <% if @user.tlk_with_me.present? %>
          <p class="create-remove-details mb-4"><%= link_to "Remove yourself from the \"Taaalk with me\" section", destroy_tlk_with_me_user_page_path(current_user) %></p>
        <% end %>
        <p>Default 'Taaalk Request' message:</p>
        <%= f.rich_text_area :tlk_with_you %>
        <%= f.submit "Update Your Details", id: "spkr-#{@user.id}", class: 'btn-spkr-edit btn create-user-update-btn' %>
      </div>
    </div>
  </div>
<% end %>

<div class="create-index-container">
  <div class="p-0 user-container">
  <div class="spkr-user-edit-form">
    <div class="big-white-split"></div>
    <%= form_with model: current_user, url: :update_password do |fi| %>
      <p><strong>Change your password:</strong></p>
      <p>You'll have to log in again after changing your password.</p>
      <p class="mb-0">Your <strong>current</strong> password:</p>
      <%= fi.password_field :current_password, class: "fw-text-input" %>
      <p class="mb-0">Your <strong>new</strong> password:</p>
      <%= fi.password_field :new_password, class: "fw-text-input" %>
      <p class="mb-0"><strong>Confirm</strong> your new password:</p>
      <%= fi.password_field :confirm_new_password, class: "fw-text-input" %>
      <div>
        <%= fi.submit "Change your password", class: "fake-link-from-btn link-txt" %>
      </div>
    <% end %>
    <div class="big-white-split"></div>
    <p><strong>Delete your account:</strong></p>
    <p>This will delete all your Taaalks and messages.</p>
    <p>It will not delete Taaalks you didn't start, but it will delete your messages in them.</p>
    <p class="mb-0">Enter your password:</p>
    <%= form_for @user, method: :delete do |fo| %>
      <%= fo.password_field :password, class: "fw-text-input" %>
      <div>
        <%= fo.submit "Delete your account", class: "mb-0 danger-link" %>
      </div>
    <% end %>
    <div class="big-white-split"></div>
  </div>
    <div class="user-bottom-edit-btn">
      <button id="tlk-toggle-edit" class="tlk-toggle-edit edit-mode-on btn btn-dark spkr-only-edit-btn">Exit Edit Mode</button>
      <div class="user-big-dark-split big-dark-split"></div>
    </div>
  </div>
</div>

