
<div class="user-image"
  <% if @user.image.present? %>
    style="background-image: url(<%= rails_blob_url(@user.image) %>)"
  <% else %>
    style="background-image: url(<%= asset_url('user.svg') %>)"
  <% end %>
  >
</div>
<div class="spkr-user-edit-form">
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :image %>
    <%= f.input :username %>
    <%= f.input :email %>
    <p>Default Taaalk bio:</p>
    <%= f.rich_text_area :biog %>
    <p>People should Taaalk with you about:</p>
    <%= f.rich_text_area :tlk_with_me %>
    <p>Default 'Taaalk Request' message:</p>
    <%= f.rich_text_area :tlk_with_you %>
    <%= f.button :submit, 'Update Your Details' %>
  <% end %>
</div>
