
<div class="user-image"
  <% if @user.image.present? %>
    style="background-image: url(<%= rails_blob_url(@user.image) %>)"
  <% else %>
    style="background-image: url(<%= asset_url('user.svg') %>)"
  <% end %>
  >
</div>
<div class="spkr-user-edit-form">
<%= simple_form_for(@user) do |f| %>
  <%= f.input :image %>
  <%= f.input :username %>
  <%= f.input :bio %>
  <%= f.rich_text_area :biog %>
  <%= f.input :email %>
  <%= f.button :submit, 'Update Your Details' %>
<% end %>
</div>
