<div class="user-image"
  <% if @user.image.present? %>
    style="background-image: url(<%= rails_blob_url(@user.image) %>)"
  <% else %>
    style="background-image: url(<%= asset_url('user.svg') %>)"
  <% end %>
  >
</div>
<h1><%= @user.username %></h1>
<p><%= @user.biog %></p>
<% if @user.tlk_with_me.present? %>
<p>Taaalk with me about:</p>
<p><%= @user.tlk_with_me %></p>
<% end %>

<% if @user == current_user %>
  <div class="tlk-note">
    <p><strong>This is your profile.</strong> Only you can see the information in this box.</p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Default 'Taaalk Request' message:</strong></p>
    <p><%= @user.tlk_with_you %></p>
    <p><%= link_to "Edit Your Details", edit_user_path(@user) %></p>
    <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
  </div>
<% else %>
  <%= render 'components/follow_unfollow_user' %>
<% end %>


<% @user.spkrs.each do |spkr| %>
  <%= link_to show_tlk_path(spkr.tlk) do %>
    <h4><%= spkr.tlk.title %></h4>
    <% spkr.tlk.spkrs.each do |speaker| %>
      <div class="tlk-tlking-image spkr-image"
        <% if speaker.image.present? %>
          style="background-image: url(<%= rails_blob_url(speaker.image) %>)"
        <% elsif speaker.user.image.present? %>
          style="background-image: url(<%= rails_blob_url(speaker.user.image) %>)"
        <% else %>
          style="background-image: url(<%= asset_url('user.svg') %>)"
        <% end %>
        >
      </div>
      <p><%= speaker.name %></p>
    <% end %>
  <% end %>
<% end %>



