<nav class="navbar navbar-light">

  <%= link_to raw("Taaa<span class='fc-logo'>l</span>k"), root_path, class: "navbar-brand tlk-brand" %>

  <div class="navbar-non-logo">
    <div class="nav-btn-holder">
      <%= link_to new_tlk_path do %>
        <div class="nav-btn <%= @title == 'Start a conversation' ? 'link-txt' : ''%>">
        <i class="fas fa-align-left"></i>Start a Conversation
        </div>
      <% end %>
    </div>

    <% if current_user.present? && current_user.has_spkrs? %>
      <div class="nav-btn-holder">
        <%= link_to tlk_replies_path do %>
          <div class="nav-btn position-relative <%= @title == 'Your Replies' ? 'link-txt' : ''%>">
          <i class="fas fa-inbox"></i>Reply
          <% if current_user.has_replies? %>
            <div class="tlks-notification-badge"></div>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="nav-btn-holder">

      <% if user_signed_in? %>
        <%= link_to show_user_path(current_user) do %>
          <div class="nav-user-btn">
            <div class="navbar-user-image"
              <% if current_user.image.present? %>
                style="background-image: url(<%= url_for(current_user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% else %>
                style="background-image: url(<%= asset_url('user.svg') %>)"
              <% end %>
              >
            </div>
            <span class="<%= @nav.present? ? "link-txt" : "" %>">
              <%= current_user.username %>
            </span>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
        <div class="nav-btn login-btn">
          Log In
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
