<h4>Hello, and welcome to your Taaalk</h4>

<%= render 'components/tlk_links' %>

<%= render 'components/edit_tlk_title' %>

<%= render 'components/edit_self_spkr' %>


<%= form_with model: @tlk do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="tlk-links">
    <p>Link for readers: <%= link_to show_tlk_url(@tlk), show_tlk_url(@tlk) %></p>
    <p>Invite link: <%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>. Invite code: <%= @tlk.invite_code %></p>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, value: current_user.username %>
  </div>
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio, value: current_user.bio %>
  </div>
  <%= f.submit %>
<% end %>





<%#= render 'components/edit_self_spkr' %>

<%#= render 'components/edit_other_spkrs' %>
