<h4>Hello.</h4>
<p>You have been invited to join the Taaalk <strong><%= @tlk.title %></strong>.</p>
<p>Please paste your six digit <strong>invite code</strong> here:</p>

<p><%= @tlk.invite_code %></p>

<%= form_with model: @tlk, as: :post, url: invited_to_tlk_path do |f| %>
  <%= f.text_field :key %>
  <%= f.submit "Submit Invite Code" %>
<% end %>
