<h1>Taaalk</h1>
<h2>Description of The Taaalk Co.</h2>

<p>The Taaalks below are sorted by the most recently updated conversations. <%= link_to "Sort Taaalks by when they were created instead.", newly_created_path %></p>


<% @tlks.each do |tlk| %>
  <%= link_to show_tlk_path(tlk) do %>
    <h4><%= tlk.title %></h4>
    <% tlk.spkrs.each do |spkr| %>
      <div class="tlk-tlking-image spkr-image"
        <% if spkr.image.present? %>
          style="background-image: url(<%= rails_blob_url(spkr.image) %>)"
        <% elsif spkr.user.image.present? %>
          style="background-image: url(<%= rails_blob_url(spkr.user.image) %>)"
        <% else %>
          style="background-image: url(<%= asset_url('user.svg') %>)"
        <% end %>
        >
      </div>
      <p><%= spkr.name %></p>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate @tlks %>
