<div class="index-background">

  <div id="index-background-color" class="index-background-color-small mb-40-mob-12 bdr-btm-drk-mob-none">
    <div id="tlk-explain-div" class="index-container top-index-container tlk-explain-div-small">
      <div class="index-border-btm-container">
        <div class="index-header-container">
          <h1 class="f-white">The home of public conversations</h1>
          <div id="index-what-btn" class="btn edit-mode-on">Hmmm?</div>
        </div>
        <div id="tlk-intro-container" class="index-hide-intro">
          <%= render 'components/tlk_intro' %>
        </div>
      </div>
    </div>
  </div>
  <div class="index-container">

    <%= will_paginate @tlks, inner_window: 2, outer_window: 1 %>

    <div class="card-columns">
      <% @tlks.each_with_index do |tlk, i| %>
        <%= link_to show_tlk_path(tlk), class: "tlk-index-link" do %>
          <div class="tlk-card card">
            <div
            <% if tlk.image.present? %>
              class="tlk-image-index card-img-top img-fluid tlk-image-present"
              style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= rails_blob_url(tlk.image) %>);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;"
           <% elsif tlk.color.present? %>
              class="tlk-image-index card-img-top img-fluid"
              style="
                background: <%= tlk.color %>;
              "
            <% else %>
              class="tlk-image-index tlk-image-index-color card-img-top img-fluid tlk-image-not-present"
            <% end %>
            >
              <h4 class="tlk-card-title card-title"><%= tlk.title %></h4>
            </div>
            <div class="tlk-card-block card-block">
              <% tlk.spkrs.each do |spkr| %>
                <% unless spkr.hide == true %>
                  <div class="msg-<%= spkr.color %>">
                    <div class="spkr-details-container-index spkr-index-<%= spkr.side %>">
                      <div class="spkr-img-name-container-index">
                        <div class="spkr-image-index"
                          <% if spkr.image.present? %>
                            style="background-image: url(<%= rails_blob_url(spkr.image) %>)"
                          <% elsif spkr.user.image.present? %>
                            style="background-image: url(<%= rails_blob_url(spkr.user.image) %>)"
                          <% else %>
                            style="background-image: url(<%= asset_url('user.svg') %>)"
                          <% end %>
                          >
                        </div>
                        <p class="spkr-name-index"><strong><%= spkr.name %></strong></p>
                      </div>
                      <% if spkr.biog.present? %>
                        <div class="spkr-biog-holder-index">
                          <p class="spkr-biog-index"><%= truncate(strip_tags(spkr.biog.to_s), length: 120) %></p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= will_paginate @tlks, inner_window: 2, outer_window: 1 %>

  </div>
</div>



