
  <div id="index-background-color" class="bg-purp mb-18-mob-12 bdr-btm-drk-mob-none bg-image-index">
    <div id="tlk-explain-div" class="index-container top-index-container tlk-explain-div-small">
      <div class="index-border-btm-container">
        <div class="index-header-container">
          <h1 class="f-white">The social network for conversations</h1>
          <div id="index-what-btn" class="btn learn-more-btn">Learn More</div>
        </div>
        <div id="tlk-intro-container" class="index-hide-intro">
          <%= render 'components/tlk_intro' %>
        </div>
      </div>
    </div>
  </div>

  <div class="index-container">
    <p class="intro-p"><strong>Conversations happening now:</strong></p>
  </div>

  <div class="index-container">

    <%= will_paginate @tlks, inner_window: 2, outer_window: 1 %>

    <div class="card-columns">
      <% @tlks.each_with_index do |tlk, i| %>
        <%= link_to show_tlk_path(tlk), class: "tlk-index-link" do %>
          <div class="tlk-card card">
            <div
            <% if tlk.image.present? %>
              class="tlk-image-index card-img-top img-fluid tlk-image-present"
              style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= url_for(tlk.image.variant(combine_options: { resize_to_limit: [600, nil], auto_orient: true, gravity: "center" })) %>);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;"
           <% elsif tlk.color.present? %>
              class="tlk-image-index card-img-top img-fluid"
              style="
                background: <%= tlk.color %>;
              "
            <% else %>
              class="tlk-image-index tlk-image-index-color card-img-top img-fluid tlk-image-not-present"
            <% end %>
            >
              <h4 class="tlk-card-title card-title"><%= tlk.title %></h4>
            </div>
            <div class="tlk-card-block card-block">
              <% tlk.non_hidden_spkrs.each do |spkr| %>
                <div class="msg-<%= spkr.color %>">
                  <div class="spkr-details-container-index spkr-index-<%= spkr.side %>">
                    <div class="spkr-img-name-container-index">
                      <div class="spkr-image-index"
                        <% if spkr.image.present? %>
                          style="background-image: url(<%= url_for(spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
                        <% elsif spkr.user.image.present? %>
                          style="background-image: url(<%= url_for(spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
                        <% else %>
                          style="background-image: url(<%= asset_url('user.svg') %>)"
                        <% end %>
                        >
                      </div>
                      <p class="spkr-name-index"><strong><%= spkr.name %></strong></p>
                    </div>
                    <% if spkr.biog.present? %>
                      <div class="spkr-biog-holder-index">
                        <p class="spkr-biog-index"><%= truncate(strip_tags(spkr.biog.to_s).gsub(/&amp;/, '&'), length: 115, separator: ' ') %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate @tlks, inner_window: 2, outer_window: 1 %>
  </div>


<div class="index-btm-spacer"></div>




