

<div class="bg-green-fade">
  <div class="create-index-container top-index-container tlk-explain-div-small">
    <div class="create-container">
      <h1>
      Start a Taaalk and invite people you know</h1>
      <div class="index-tlk-container tlk-image-edit">
        <% if current_user.present? %>
          <%= simple_form_for(@tlk, remote: true) do |f| %>
            <%= f.label :title, "Taaalk Title:" %><br />
            <%= f.text_field :title, class: 'tlk-title-edit', target: 'update-tlk', autocomplete: 'off' %>
            <div id="tlk-note-margin-top-btm">Your Taaalk will have an invite link and code.</div>
            <div>
              <%= f.button :submit, "Start Your Taaalk", class: 'btn tlk-btn-unsaved' %>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Start Your Taaalk", new_user_session_path, class: "btn tlk-btn-unsaved" %>
        <% end %>

      </div>
    </div>

  </div>
</div>
<div>
  <div class="create-index-container top-index-container tlk-explain-div-small">
    <div class="create-header-container" id="create-border-top-20-blue">
      <h1><u>Or...</u> Meet someone to Taaalk with</h1>
      <%= render 'components/tlk_to_me' %>
    </div>
  </div>
</div>



<%= render 'components/tlk_to_me_users' %>


