<h1>Taaalk</h1>
<h2>Description of The Taaalk Co.</h2>

<p>The Taaalks below are sorted by the most recently created. <%= link_to "Sort Taaalks by when their conversations were last updated instead.", root_path %></p>

<% @tlks.each do |tlk| %>
  <%= link_to show_tlk_path(tlk) do %>
    <h4><%= tlk.title %></h4>
    <% tlk.spkrs.each do |spkr| %>
      <p><%= spkr.name %></p>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate @tlks %>
