<%= render 'components/top_of_tlk' %>
<%#= render 'components/invited_mode' %>

<% @tlk.msgs.each do |msg| %>
  <p class="name-spkr-<%= msg.spkr.id %>"><%= msg.spkr.name %></p>
  <p><%= msg.content %></p>
<% end %>

<% @user_spkrs.each do |spkr| %>
  <%= form_with model: @msg do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
    <%= f.hidden_field :tlk_id, :value => @tlk.id %>
    <%= f.hidden_field :spkr_id, :value => spkr.id %>
    <%= f.submit %>
  <% end %>
<% end %>
