<%= render 'components/top_of_tlk' %>

<%= render 'components/follow_unfollow_tlk' %>
<div class="tlk-container">
<div class="big-blue-split"></div>
</div>


<% if @tlk.msgs.any? %>
  <div class="tlking-container">

  <% @tlk.msgs.each_with_index do |msg, i| %>
    <% if msg.published == true %>
      <div class="tlk-blob tlk-blob-<%= msg.spkr.side %>" <%= 'id=new' if i+1 == @tlk.msgs.length %> >
        <div class="tlk-blob-spkr">
          <div class="tlk-tlking-image spkr-image image-spkr-<%= msg.spkr.id %>"
            <% if msg.spkr.image.present? %>
              style="background-image: url(<%= rails_blob_url(msg.spkr.image) %>)"
            <% elsif msg.spkr.user.image.present? %>
              style="background-image: url(<%= rails_blob_url(msg.spkr.user.image) %>)"
            <% else %>
              style="background-image: url(<%= asset_url('user.svg') %>)"
            <% end %>
            >
          </div>
          <div class="name-spkr-<%= msg.spkr.id %> tlk-blob-name"><%= msg.spkr.name %></div>
          <div class="tlk-blob-date"><%= msg.created_at.strftime("%H:%M, %d %b %Y") %></div>
        </div>
        <div class="spkr-color-<%= msg.spkr.id %>">
          <div class="msg-<%= msg.spkr.color %>" target="spkr-color-<% msg.spkr.id %>">
            <div class="tlk-blob-msg"><%= msg.safe_content %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>


<% else %>

  <div class="tlk-blob-msg tlk-start-msg">
    <div class="trix-content">
     <div class="tlk-bubble-holder"><div class="tlk-bubble">Taaalk messages...</div></div>
     <div class="tlk-bubble-holder"><div class="tlk-bubble">Will appear...</div></div>
     <div class="tlk-bubble-holder"><div class="mb-0 tlk-bubble">Here.</div></div>
    </div>
  </div>
<% end %>

<div class="tlk-container">
  <div class="big-white-split big-blue-split-bottom"></div>
</div>


<div class="tlk-container">



<% @user_spkrs.each do |spkr|  %>
  <% if spkr.hide == false %>

    <div class="spkr-msg-form" target="spkr-msg-form-<%= spkr.id %>">
      <%= form_with model: @msg, class: 'rta', id: "spkr-msg-form-#{spkr.id}" do |f| %>
        <div class="field" id="rta-<%= spkr.id %>">
          <strong><%= f.label :content, "#{spkr.name} says:" %></strong>
          <%#= f.rich_text_area :content, target: "draft-#{spkr.id}", id: "msg-#{spkr.id}" %>

          <%= f.rich_text_area :content, target: "submit-msg-#{spkr.id}", id: "msg-#{spkr.id}", required: true  %>
        </div>
        <%= f.hidden_field :safe_content %>
        <%= f.hidden_field :draft_string %>
        <%= f.hidden_field :tlk_id, :value => @tlk.id %>
        <%= f.hidden_field :tlk_code, :value => @tlk.msg_key %>
        <%= f.hidden_field :spkr_id, :value => spkr.id %>
        <% if spkr.unpublished_message.present? %>
          <%= f.hidden_field :msg_id, :value => spkr.unpublished_message.id %>
        <% end %>
        <!-- <button class="btn btn-dark preview-msg" target="submit-msg-<%= spkr.id %>" id="preview-msg-<%= spkr.id %>">Review Your Message</button> -->

        <div class="text-right">
          <%= f.submit "Save Draft", name: "draft", class: "tlk-draft-button fake-link" %>
        </div>
        <div class="spkr-color-<%= spkr.id %>">
          <div class="msg-<%= spkr.color %>">
            <div class="msg-preview trix-content" target="preview-spkr-msg-form-<%= spkr.id %>">
              <p>Your message preview will appear here.</p>
            </div>
          </div>
        </div>
        <%= f.hidden_field :spkr_id, :value => spkr.id %>
        <%= f.submit "Publish Your Message", name: "publish", id: "submit-msg-#{spkr.id}", class: "msg-submit-btn btn btn-secondary" %>
      <% end %>
    </div>


  <% end %>

  <% if spkr.unpublished_message.present? %>
    <div class="tlk-draft" id="submit-msg-<%= spkr.id %>-draft">
      <%= raw(spkr.unpublished_message.draft_string) %>
    </div>
  <% end %>
<% end %>

</div>

<% unless @user_spkrs.any? %>
  <%= render 'components/follow_unfollow_tlk' %>
<% end %>


