<%= render 'components/top_of_tlk' %>

<%= render 'components/follow_unfollow_tlk' %>
<div class="tlk-container">
<div class="big-blue-split"></div>
</div>


<% if @tlk.any_published_msgs? %>
  <div class="tlking-container">

  <% @msgs.each_with_index do |msg, i| %>
    <% if msg.published == true %>
      <div class="tlk-blob tlk-blob-<%= msg.spkr.side %>" id="<%= i + 1 %>" >
        <div class="tlk-blob-spkr">
          <div class="tlk-tlking-image spkr-image image-spkr-<%= msg.spkr.id %>"
            <% if msg.spkr.image.present? %>
              style="background-image: url(<%= url_for(msg.spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
            <% elsif msg.spkr.user.image.present? %>
              style="background-image: url(<%= url_for(msg.spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
            <% else %>
              style="background-image: url(<%= asset_url('user.svg') %>)"
            <% end %>
            >
          </div>
          <div class="name-spkr-<%= msg.spkr.id %> tlk-blob-name"><%= msg.spkr.name %></div>
          <div class="tlk-blob-date"><%= msg.created_at.strftime("%H:%M, %d %b %y") %><%= msg.updated_at.strftime("%H:%M, %d %b %y") == msg.created_at.strftime("%H:%M, %d %b %y") ? "" : " (edit: #{msg.updated_at.strftime("%H:%M, %d %b %y")})" %></div>
        </div>
        <div class="spkr-color-<%= msg.spkr.id %>">
          <div class="msg-<%= msg.spkr.color %>" target="spkr-color-<% msg.spkr.id %>">
            <div class="tlk-blob-msg"><%= msg.safe_content %>
              <% if msg.user == current_user %>
                <p class="msg-edit-p"><%= link_to "edit", edit_msg_path(msg), class: "edit-link" %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  </div>


<% else %>

  <div class="tlk-blob-msg tlk-start-msg">
    <div class="trix-content">
     <div class="tlk-bubble-holder"><div class="tlk-bubble" style="max-height: 49px;">Taaalk messages...</div></div>
     <div class="tlk-bubble-holder"><div class="tlk-bubble" style="max-height: 49px;">Will appear...</div></div>
     <div class="tlk-bubble-holder"><div class="mb-0 tlk-bubble" style="max-height: 49px;">Here.</div></div>
    </div>
  </div>
<% end %>

<div class="tlk-container">
  <div class="big-white-split big-blue-split-bottom"></div>
</div>


<div class="tlk-container">



<% @user_spkrs.each do |spkr|  %>
  <% if spkr.hide == false %>

    <div class="spkr-msg-form" target="spkr-msg-form-<%= spkr.id %>">
      <%= form_with model: @msg, class: 'rta', id: "spkr-msg-form-#{spkr.id}" do |f| %>
        <div class="field" id="rta-<%= spkr.id %>">

          <div class="spkr-image-and-name" style="margin-bottom: 8px;">
            <div class="spkr-textbox-image spkr-image image-spkr-<%= spkr.id %>"
              <% if spkr.image.present? %>
                style="background-image: url(<%= url_for(spkr.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% elsif spkr.user.image.present? %>
                style="background-image: url(<%= url_for(spkr.user.image.variant(combine_options: { resize: '104x104^', auto_orient: true, gravity: "center" })) %>)"
              <% else %>
                style="background-image: url(<%= asset_url('user.svg') %>)"
              <% end %>
              >
            </div>
            <!-- <h3><%#= link_to spkr.name, show_user_path(spkr.user), class: "name-spkr-#{ spkr.id }" %></h3> -->
            <strong><%= f.label :content, raw("<span class='name-spkr-#{spkr.id}'>#{spkr.name}</span> says:"), class: "mb-0" %></strong>
          </div>
          <%= f.rich_text_area :content, target: "submit-msg-#{spkr.id}", id: "msg-#{spkr.id}", required: true  %>
        </div>
        <%= f.hidden_field :safe_content %>
        <%= f.hidden_field :draft_string %>
        <%= f.hidden_field :tlk_id, :value => @tlk.id %>
        <%= f.hidden_field :tlk_code, :value => @tlk.msg_key %>
        <%= f.hidden_field :spkr_id, :value => spkr.id %>
        <%= fields_for spkr do |fi| %>
          <%= f.hidden_field :auto_tweet_on, :value => spkr.auto_tweet_on == false ? false : true, target: "auto-tweet-#{spkr.id}" %>
        <% end %>

        <% if spkr.unpublished_message.present? %>
          <%= f.hidden_field :msg_id, :value => spkr.unpublished_message.id %>
        <% end %>
        <div class="text-right">
          <%= f.submit "Save Draft", name: "draft", target: "msg-#{spkr.id}", class: "tlk-draft-button fake-link" %>
        </div>
        <div class="spkr-color-<%= spkr.id %>">
          <div class="msg-<%= spkr.color %>">
            <div class="msg-preview trix-content" target="preview-spkr-msg-form-<%= spkr.id %>">
              <p>Your message preview will appear here.</p>
            </div>
          </div>
        </div>
        <%= f.hidden_field :spkr_id, :value => spkr.id %>
        <div class="auto-tweet <%= spkr.auto_tweet_on ? 'auto-tweet-on' : 'auto-tweet-off' %>" id="auto-tweet-<%= spkr.id %>">
          <div class="auto-tweet-top">
          <%= f.submit "Publish Your Message", name: "publish", id: "submit-msg-#{spkr.id}", class: "btn tlk-btn-unsaved msg-submit-btn", target: "submit-auto-tweet-#{spkr.id}" %>
          <p class="auto-tweet-first-p">
            <span class="auto-tweet-checkbox">
              <i class="fas fa-toggle-on"></i>
              <i class="fas fa-toggle-off"></i>
            </span>
            <i class="fab fa-twitter"></i> Tweet When Publish is
            <span class="auto-tweet-span-on"><strong>on</strong></span>
            <span class="auto-tweet-span-off"><strong>off</strong></span>
          </p>
            <div class="auto-tweet-bottom">
              <p><strong><i class="fab fa-twitter"></i> Tweet When Publish increases your Taaalk readership.</strong></p>
              <p>Twitter will open when you publish your message.</p>
              <p>The suggested Tweet will read:</p>
              <div class="example-tweet mb-2" id="">
                <%= @tweet %>#<%= @tlk.msgs.count + 1 %>
              </div>
              <p>You can edit the Tweet in your Twitter client before you send it.</p>
              <p class="mb-0 mt-2">(If 'Tweet When Publish' is off, your message will still publish on Taaalk normally.)</p>
            </div>
          </div>
        </div>

      <% end %>
    </div>


  <% end %>

  <div class="spkr-notes mb-4">
    <p class="mb-2"><strong><i class="fas fa-pen"></i> Take notes for your Taaalk.</strong> Keep ideas for future messages here.</p>
    <div class="spkr-msg-form">
      <%= form_with model: spkr do |fb| %>
        <%= fb.rich_text_area :notes, id: "spkr-notes-#{ spkr.id }" %>
        <%= fb.submit "Save Notes", name: "notes", class: "spkr-notes-btn spkr-notes-btn-unsaved", id: "btn-spkr-notes-#{ spkr.id }" %>
      <% end %>
    </div>
  </div>

  <% if spkr.unpublished_message.present? %>
    <div class="tlk-draft" id="submit-msg-<%= spkr.id %>-draft">
      <%= raw(spkr.unpublished_message.draft_string) %>
    </div>
  <% end %>


<% end %>

</div>

<% unless @user_spkrs.any? %>
  <%= render 'components/follow_unfollow_tlk' %>
  <div class="tlk-btm-follow-spacer"></div>
<% end %>

<%= render 'components/anyone_tlk' %>

