<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <title>Taaalk<%= @title.present? ? " | #{@title}" : "" %></title>
    <% if @tlk.present? %>
      <% if @tlk.user == current_user %>
        <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>-edit" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <% elsif flash[:invited] %>
        <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>-invited" >
      <% elsif @spkr_only %>
        <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>-spkr" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <% else %>
        <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>" >
      <% end %>
    <% elsif @user.present? %>
      <% if @user == current_user %>
        <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>-edit" >
      <% end %>
    <% else %>
      <meta id="meta" name="js-loader" content="<%= controller_name %>-<%= action_name %>">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if notice.present? %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script type="text/javascript">
        var alertBlock = document.querySelector('.alert')
        var closeBtn = document.querySelector('.close')
        closeBtn.addEventListener('click', (event) => {
          alertBlock.style = "display: none;"
        });
      </script>
    <% end %>
    <div class="calc-height-navbar">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'on_new_page' %>
  </body>
</html>
